<!DOCTYPE html>
<html>
    <head>
        <title>Search App</title>
        <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
        <script src="../assets/js/search.js" type="text/javascript"></script>
    </head>
    <body>
        <br>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class ="span1"></div>
                <div class ="span11">
                    <div class="span6">
                        <input class="span12" id="query" placeholder= "Type URL to see what the webpage is built with"  type="text">
                    </div>
                    <div class="span2">
                        <button class="btn-success btn-small" type="submit" onclick="search()">See How Is It Built</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" id="response"></div>
    </body>
</html>