<br>
<div class='row-fluid'>
	<div class='span1'>	</div>

	<div class='span2'>
		<img src='"+snipobj.thumbnails.medium.url+"'>
	</div>

	<div class='span8' style='background-color:#eee;border:2px solid #bbb;padding:4px;'>
		<div class='span12'>"+snipobj.title+"</div>
		<div class='span12'>
			<a class='span4' id='video' target='_blank' href='http://www.youtube.com/watch?v="+response.items[i].id.videoId+"'>Click to watch on Youtube</a><a href='javascript:searchrel("+i+");'>Search Related Videos</a>
		</div>

		<div class='span12'>"+snipobj.description+"</div>
	</div>
</div>